@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";

    string tipo = "Usuario";

    if(Convert.ToInt32(@Session["tipoUsu"]) == 1)
    {
        tipo = "Administrador";
    }

}


<div class="alert alert-info" role="alert">
    <h3>Pagina Principal</h3>
</div>

<main style="margin-left:15%;">


    @if (Session["idUsu"] != null)
    {
        <div class="row">
            <div>Bienvenido <b>@Session["nombreUsu"]</b>, estás Registrado como <b>@tipo</b></div>
        </div>
        <br />
        <br />
        <div>
            <img src="~/imagenes/homefinance2.png" style="width:50%;margin-left:20%"/>
        </div>
    }
    <div class="row">

    </div>

</main>

