@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-info" role="alert">
    <h3>Pagina Principal</h3>
</div>

<main style="margin-left:15%;">


    @if (Session["idUsu"] != null)
    {
        <div class="row">
            <div>Bienvenido <b>@Session["nombreUsu"]</b> Tipo: <b>@Session["tipoUsu"]</b></div>
        </div>
        <br />
        <br />
        <div>
            Esa es la vista INDEX, todavia no lo se que poner aqui !!!!!
        </div>
    }
    <div class="row">

    </div>

</main>

