@{
    ViewBag.Title = "Imprimir";
    Layout = "~/Views/Shared/_Layout.cshtml";

}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Página de estado</h1>
        <h3>Continuamente monitorizamos el estado de nuestros productos. En cuanto se detecte una incidencia que pudiera afectar a nuestros servicios, publicaremos en esta sección la información disponible. En caso de que usted experimente cualquier anomalía a la hora de utilizar su producto de alojamiento 1&1 no indicada aquí, por favor, contacte con nuestro equipo de atención al cliente</h3>
    </hgroup>
    <div>
        <h2>Actualmente no tenemos noticia de ningún problema técnico.</h2>
    </div>
</body>
</html>
